version: "3.9"

services:
  spark:
    image: apache/spark:latest
    container_name: spark-netflix
    entrypoint: ["/opt/spark/bin/spark-submit"]
    command: [
      "--master", "local[*]",
      "/opt/spark/app/analyze_netflix.py"
    ]
    volumes:
      - ./app:/opt/spark/app
      - ./data:/opt/spark/data
    working_dir: /opt/spark/app

